%description {
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.4rem;
	display: inline-block;
}

%description-small {
	font-size: 1rem;
	font-weight: 300;
	line-height: 2rem;
	display: inline-block;
}

%description-bold {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	display: inline-block;
}
