$color-white: #fff;
$color-black: #161616;
$color-blue: #6ba9e4;

$dahlia: var(--font-dahlia) !important;
$inter: var(--font-inter) !important;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('navigation', 'content');
